@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  > * {
    text-decoration: none;
    position: relative; /* Needed for the underline effect */

    &:hover {
      color: gray; /* Change color on hover */
      transition: color 300ms ease-in-out; /* Smooth transition */
    }

    /* Add an underline that appears on hover */
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px; /* Adjust based on font size */
      width: 100%;
      height: 2px;
      background-color: gray; /* Underline color */
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 300ms ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}


.hide {
  opacity: 0;
  visibility: hidden;
}
